<div id="infoposition"></div>
<div class="container">
    <div class="row">
        {% if resultat_recherche is defined and resultat_recherche is not null and resultat_recherche is not empty%}
            {% for result in resultat_recherche %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card mt-4" style="">
                    <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
                    <div class="card-body">
                        {% if result.dateDebutEvenement|date('Y-m-d') is same as(result.dateFinEvenement|date('Y-m-d')) %}
                            <p style="color:red">{{ result.dateDebutEvenement|format_datetime(locale='fr') }}</p>
                        {% else %}
                            <p style="color:red">{{ result.dateDebutEvenement|date("d/m/Y") }} - {{ result.dateFinEvenement|date("d/m/Y") }}</p>
                        {% endif %}
                        <p class="card-text font-weight-bold">{{ result.nomEvenement }}</p>
                        <p>

                        {% for typeEvenementId in result.typeEvenement %}

                             {{ render(controller(
                            'App\\Controller\\AccueilController::afficherTypeEvenement',
                            { 'id_type': typeEvenementId.id }
                            )) }}
                        {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        {% if app.user != null %}
                        {{ render(controller(
                            'App\\Controller\\AccueilController::afficherInteresseEvenement',
                            {'user':app.user,'evenement':result.id}
                        )) }}
                        {% else %}
                            <button type="button" class="btn btn-primary  btn-sm interesse" data-toggle="modal" data-target="#modalConnexion"><i class="far fa-star"></i> Interessé</button>
                            <button type="button"  class="btn btn-secondary btn-sm ml-2"><i class="fas fa-share"></i></button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 text-center">
                {{ knp_pagination_render(resultat_recherche) }}
            </div>
        {% else %}

        {% endif %}
    </div>
</div>
<div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vous devez d'abord vous connecter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Créer un compte gratuitement ou connectez-vous avant de pouvoir cliquer ce boutton.</p>
                <div class="text-center mt-3">
                    <p>
                        <a href="{{ path("app_createAccount") }}">Creér un compte</a>
                    </p>
                    <p>
                        Vous avez un compte? <a href="{{ path("app_login") }}">Connectez-vous.</a>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

